*{
    margin: 0;
}
@media screen {
    
}
body{
    background-color: black;
}

article{
    background-color: #c5ae9c;
    margin-block: 1em;
    margin-inline: 20em;
    padding: 1em;   
}
 
.biography{
    border-radius: 0.375em;
    background-color: #aa968a;
    margin-block: 0.5em 1em;
    margin-inline: 0em 1em;
    padding-inline: 1em;
    padding-block: 1em;
    overflow-wrap: break-word;

}
 
.links{
    margin-block: 1em;
    list-style: none;
    text-decoration: none;
}
.nav2{
    margin-block: 1em;
    margin-inline: 0em;
}
p{
    margin-bottom: 0.5em;
}
a{

    color: rgb(56, 56, 143);
}
.hobbies{
    margin-bottom: 1em;
}